In [ ]:
import nannyml as nml
from IPython.display import display

reference_df = nml.load_synthetic_car_price_dataset()[0]
analysis_df = nml.load_synthetic_car_price_dataset()[1]
display(reference_df.head())

,car_age,km_driven,price_new,accident_count,door_count,fuel,transmission,y_true,y_pred,timestamp
0,15.0,144020.0,42810.0,4.0,3.0,diesel,automatic,569.0,1246.0,2017-01-24 08:00:00.000
1,12.0,57078.0,31835.0,3.0,3.0,electric,automatic,4277.0,4924.0,2017-01-24 08:00:33.600
2,2.0,76288.0,31851.0,3.0,5.0,diesel,automatic,7011.0,5744.0,2017-01-24 08:01:07.200
3,7.0,97593.0,29288.0,2.0,3.0,electric,manual,5576.0,6781.0,2017-01-24 08:01:40.800
4,13.0,9985.0,41350.0,1.0,5.0,diesel,automatic,6456.0,6822.0,2017-01-24 08:02:14.400

In [ ]:
print(reference_df.head().to_markdown(tablefmt="grid"))

+----+-----------+-------------+-------------+------------------+--------------+----------+----------------+----------+----------+-------------------------+
|    |   car_age |   km_driven |   price_new |   accident_count |   door_count | fuel     | transmission   |   y_true |   y_pred | timestamp               |
+====+===========+=============+=============+==================+==============+==========+================+==========+==========+=========================+
|  0 |        15 |      144020 |       42810 |                4 |            3 | diesel   | automatic      |      569 |     1246 | 2017-01-24 08:00:00.000 |
+----+-----------+-------------+-------------+------------------+--------------+----------+----------------+----------+----------+-------------------------+
|  1 |        12 |       57078 |       31835 |                3 |            3 | electric | automatic      |     4277 |     4924 | 2017-01-24 08:00:33.600 |
+----+-----------+-------------+-------------+------------------+--------------+----------+----------------+----------+----------+-------------------------+
|  2 |         2 |       76288 |       31851 |                3 |            5 | diesel   | automatic      |     7011 |     5744 | 2017-01-24 08:01:07.200 |
+----+-----------+-------------+-------------+------------------+--------------+----------+----------------+----------+----------+-------------------------+
|  3 |         7 |       97593 |       29288 |                2 |            3 | electric | manual         |     5576 |     6781 | 2017-01-24 08:01:40.800 |
+----+-----------+-------------+-------------+------------------+--------------+----------+----------------+----------+----------+-------------------------+
|  4 |        13 |        9985 |       41350 |                1 |            5 | diesel   | automatic      |     6456 |     6822 | 2017-01-24 08:02:14.400 |
+----+-----------+-------------+-------------+------------------+--------------+----------+----------------+----------+----------+-------------------------+

In [ ]:
calc = nml.StatisticalOutputDriftCalculator(
    y_pred='y_pred',
    timestamp_column_name='timestamp',
    problem_type='regression'
)

calc.fit(reference_df)
results = calc.calculate(analysis_df)

In [ ]:
display(results.data)

,key,start_index,end_index,start_date,end_date,y_pred_dstat,y_pred_p_value,y_pred_alert,y_pred_threshold
0,[0:5999],0,5999,2017-02-16 16:00:00,2017-02-18 23:59:26.400,0.009183,0.743,False,0.05
1,[6000:11999],6000,11999,2017-02-19 00:00:00,2017-02-21 07:59:26.400,0.016350,0.107,False,0.05
2,[12000:17999],12000,17999,2017-02-21 08:00:00,2017-02-23 15:59:26.400,0.010800,0.544,False,0.05
3,[18000:23999],18000,23999,2017-02-23 16:00:00,2017-02-25 23:59:26.400,0.010183,0.620,False,0.05
4,[24000:29999],24000,29999,2017-02-26 00:00:00,2017-02-28 07:59:26.400,0.010650,0.562,False,0.05
5,[30000:35999],30000,35999,2017-02-28 08:00:00,2017-03-02 15:59:26.400,0.202883,0.000,True,0.05
6,[36000:41999],36000,41999,2017-03-02 16:00:00,2017-03-04 23:59:26.400,0.207350,0.000,True,0.05
7,[42000:47999],42000,47999,2017-03-05 00:00:00,2017-03-07 07:59:26.400,0.204683,0.000,True,0.05
8,[48000:53999],48000,53999,2017-03-07 08:00:00,2017-03-09 15:59:26.400,0.207133,0.000,True,0.05
9,[54000:59999],54000,59999,2017-03-09 16:00:00,2017-03-11 23:59:26.400,0.215883,0.000,True,0.05

In [ ]:
print(results.data.to_markdown(tablefmt="grid"))

+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|    | key           |   start_index |   end_index | start_date          | end_date                   |   y_pred_dstat |   y_pred_p_value | y_pred_alert   |   y_pred_threshold |
+====+===============+===============+=============+=====================+============================+================+==================+================+====================+
|  0 | [0:5999]      |             0 |        5999 | 2017-02-16 16:00:00 | 2017-02-18 23:59:26.400000 |     0.00918333 |            0.743 | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  1 | [6000:11999]  |          6000 |       11999 | 2017-02-19 00:00:00 | 2017-02-21 07:59:26.400000 |     0.01635    |            0.107 | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  2 | [12000:17999] |         12000 |       17999 | 2017-02-21 08:00:00 | 2017-02-23 15:59:26.400000 |     0.0108     |            0.544 | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  3 | [18000:23999] |         18000 |       23999 | 2017-02-23 16:00:00 | 2017-02-25 23:59:26.400000 |     0.0101833  |            0.62  | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  4 | [24000:29999] |         24000 |       29999 | 2017-02-26 00:00:00 | 2017-02-28 07:59:26.400000 |     0.01065    |            0.562 | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  5 | [30000:35999] |         30000 |       35999 | 2017-02-28 08:00:00 | 2017-03-02 15:59:26.400000 |     0.202883   |            0     | True           |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  6 | [36000:41999] |         36000 |       41999 | 2017-03-02 16:00:00 | 2017-03-04 23:59:26.400000 |     0.20735    |            0     | True           |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  7 | [42000:47999] |         42000 |       47999 | 2017-03-05 00:00:00 | 2017-03-07 07:59:26.400000 |     0.204683   |            0     | True           |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  8 | [48000:53999] |         48000 |       53999 | 2017-03-07 08:00:00 | 2017-03-09 15:59:26.400000 |     0.207133   |            0     | True           |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  9 | [54000:59999] |         54000 |       59999 | 2017-03-09 16:00:00 | 2017-03-11 23:59:26.400000 |     0.215883   |            0     | True           |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+

In [ ]:
display(results.calculator.previous_reference_results)

,key,start_index,end_index,start_date,end_date,y_pred_dstat,y_pred_p_value,y_pred_alert,y_pred_threshold
0,[0:5999],0,5999,2017-01-24 08:00:00,2017-01-26 15:59:26.400,0.016767,0.092,False,0.05
1,[6000:11999],6000,11999,2017-01-26 16:00:00,2017-01-28 23:59:26.400,0.011883,0.421,False,0.05
2,[12000:17999],12000,17999,2017-01-29 00:00:00,2017-01-31 07:59:26.400,0.010667,0.560,False,0.05
3,[18000:23999],18000,23999,2017-01-31 08:00:00,2017-02-02 15:59:26.400,0.009617,0.690,False,0.05
4,[24000:29999],24000,29999,2017-02-02 16:00:00,2017-02-04 23:59:26.400,0.009983,0.645,False,0.05
5,[30000:35999],30000,35999,2017-02-05 00:00:00,2017-02-07 07:59:26.400,0.008600,0.811,False,0.05
6,[36000:41999],36000,41999,2017-02-07 08:00:00,2017-02-09 15:59:26.400,0.012650,0.344,False,0.05
7,[42000:47999],42000,47999,2017-02-09 16:00:00,2017-02-11 23:59:26.400,0.014683,0.188,False,0.05
8,[48000:53999],48000,53999,2017-02-12 00:00:00,2017-02-14 07:59:26.400,0.007400,0.924,False,0.05
9,[54000:59999],54000,59999,2017-02-14 08:00:00,2017-02-16 15:59:26.400,0.014533,0.198,False,0.05

In [ ]:
print(results.calculator.previous_reference_results.to_markdown(tablefmt="grid"))

+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|    | key           |   start_index |   end_index | start_date          | end_date                   |   y_pred_dstat |   y_pred_p_value | y_pred_alert   |   y_pred_threshold |
+====+===============+===============+=============+=====================+============================+================+==================+================+====================+
|  0 | [0:5999]      |             0 |        5999 | 2017-01-24 08:00:00 | 2017-01-26 15:59:26.400000 |     0.0167667  |            0.092 | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  1 | [6000:11999]  |          6000 |       11999 | 2017-01-26 16:00:00 | 2017-01-28 23:59:26.400000 |     0.0118833  |            0.421 | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  2 | [12000:17999] |         12000 |       17999 | 2017-01-29 00:00:00 | 2017-01-31 07:59:26.400000 |     0.0106667  |            0.56  | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  3 | [18000:23999] |         18000 |       23999 | 2017-01-31 08:00:00 | 2017-02-02 15:59:26.400000 |     0.00961667 |            0.69  | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  4 | [24000:29999] |         24000 |       29999 | 2017-02-02 16:00:00 | 2017-02-04 23:59:26.400000 |     0.00998333 |            0.645 | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  5 | [30000:35999] |         30000 |       35999 | 2017-02-05 00:00:00 | 2017-02-07 07:59:26.400000 |     0.0086     |            0.811 | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  6 | [36000:41999] |         36000 |       41999 | 2017-02-07 08:00:00 | 2017-02-09 15:59:26.400000 |     0.01265    |            0.344 | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  7 | [42000:47999] |         42000 |       47999 | 2017-02-09 16:00:00 | 2017-02-11 23:59:26.400000 |     0.0146833  |            0.188 | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  8 | [48000:53999] |         48000 |       53999 | 2017-02-12 00:00:00 | 2017-02-14 07:59:26.400000 |     0.0074     |            0.924 | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+
|  9 | [54000:59999] |         54000 |       59999 | 2017-02-14 08:00:00 | 2017-02-16 15:59:26.400000 |     0.0145333  |            0.198 | False          |               0.05 |
+----+---------------+---------------+-------------+---------------------+----------------------------+----------------+------------------+----------------+--------------------+

In [ ]:
predictions_drift_fig = results.plot(kind='prediction_drift', plot_reference=True)
predictions_drift_fig.show()

In [ ]:
predictions_drift_fig.write_image('../_static/tutorials/detecting_data_drift/model_outputs/regression/drift_guide_prediction_drift.svg')

In [ ]:
predictions_distribution_fig = results.plot(kind='prediction_distribution', plot_reference=True)
predictions_distribution_fig.show()

In [ ]:
predictions_distribution_fig.write_image('../_static/tutorials/detecting_data_drift/model_outputs/multiclass/drift-guide-prediction-distribution.svg')