In [ ]:
import nannyml as nml
from IPython.display import display

reference_df, analysis_df, analysis_targets_df = nml.load_synthetic_car_loan_dataset()
display(reference_df.head())

,id,car_value,salary_range,debt_to_income_ratio,loan_length,repaid_loan_on_prev_car,size_of_downpayment,driver_tenure,repaid,timestamp,y_pred_proba,y_pred
0,0,39811.0,40K - 60K €,0.632950,19.0,False,40%,0.212653,1.0,2018-01-01 00:00:00.000,0.99,1
1,1,12679.0,40K - 60K €,0.718627,7.0,True,10%,4.927549,0.0,2018-01-01 00:08:43.152,0.07,0
2,2,19847.0,40K - 60K €,0.721724,17.0,False,0%,0.520817,1.0,2018-01-01 00:17:26.304,1.00,1
3,3,22652.0,20K - 20K €,0.705992,16.0,False,10%,0.453649,1.0,2018-01-01 00:26:09.456,0.98,1
4,4,21268.0,60K+ €,0.671888,21.0,True,30%,5.695263,1.0,2018-01-01 00:34:52.608,0.99,1

In [ ]:
from docs.utils import print_multi_index_markdown
print_multi_index_markdown(reference_df.head())

+----+------+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
|    | id   | car_value   | salary_range   | debt_to_income_ratio   | loan_length   | repaid_loan_on_prev_car   | size_of_downpayment   | driver_tenure   | repaid   | timestamp               | y_pred_proba   | y_pred   |
+====+======+=============+================+========================+===============+===========================+=======================+=================+==========+=========================+================+==========+
| 0  | 0    | 39811       | 40K - 60K €    | 0.63295                | 19            | False                     | 40%                   | 0.212653        | 1        | 2018-01-01 00:00:00.000 | 0.99           | 1        |
+----+------+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
| 1  | 1    | 12679       | 40K - 60K €    | 0.718627               | 7             | True                      | 10%                   | 4.92755         | 0        | 2018-01-01 00:08:43.152 | 0.07           | 0        |
+----+------+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
| 2  | 2    | 19847       | 40K - 60K €    | 0.721724               | 17            | False                     | 0%                    | 0.520817        | 1        | 2018-01-01 00:17:26.304 | 1              | 1        |
+----+------+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
| 3  | 3    | 22652       | 20K - 20K €    | 0.705992               | 16            | False                     | 10%                   | 0.453649        | 1        | 2018-01-01 00:26:09.456 | 0.98           | 1        |
+----+------+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+
| 4  | 4    | 21268       | 60K+ €         | 0.671888               | 21            | True                      | 30%                   | 5.69526         | 1        | 2018-01-01 00:34:52.608 | 0.99           | 1        |
+----+------+-------------+----------------+------------------------+---------------+---------------------------+-----------------------+-----------------+----------+-------------------------+----------------+----------+

In [ ]:
calc = nml.SummaryStatsRowCountCalculator(timestamp_column_name='timestamp', chunk_period='M')

In [ ]:
calc.fit(reference_df)
results = calc.calculate(analysis_df)
display(results.filter(period='all').to_df())

      chunk                                               \
        key chunk_index start_index end_index start_date
0   2018-01           0           0      5119 2018-01-01
1   2018-02           1        5120      9744 2018-02-01
2   2018-03           2        9745     14863 2018-03-01
3   2018-04           3       14864     19818 2018-04-01
4   2018-05           4       19819     24938 2018-05-01
5   2018-06           5       24939     29892 2018-06-01
6   2018-07           6       29893     35012 2018-07-01
7   2018-08           7       35013     40132 2018-08-01
8   2018-09           8       40133     45086 2018-09-01
9   2018-10           9       45087     49999 2018-10-01
10  2018-10           0           0       206 2018-10-01
11  2018-11           1         207      5161 2018-11-01
12  2018-12           2        5162     10280 2018-12-01
13  2019-01           3       10281     15400 2019-01-01
14  2019-02           4       15401     20024 2019-02-01
15  2019-03           5       20025     25144 2019-03-01
16  2019-04           6       25145     30099 2019-04-01
17  2019-05           7       30100     35218 2019-05-01
18  2019-06           8       35219     40173 2019-06-01
19  2019-07           9       40174     45293 2019-07-01
20  2019-08          10       45294     49999 2019-08-01

                                            rows_count                  \
                        end_date     period      value upper_threshold
0  2018-01-31 23:59:59.999999999  reference       5120     5451.210372
1  2018-02-28 23:59:59.999999999  reference       4625     5451.210372
2  2018-03-31 23:59:59.999999999  reference       5119     5451.210372
3  2018-04-30 23:59:59.999999999  reference       4955     5451.210372
4  2018-05-31 23:59:59.999999999  reference       5120     5451.210372
5  2018-06-30 23:59:59.999999999  reference       4954     5451.210372
6  2018-07-31 23:59:59.999999999  reference       5120     5451.210372
7  2018-08-31 23:59:59.999999999  reference       5120     5451.210372
8  2018-09-30 23:59:59.999999999  reference       4954     5451.210372
9  2018-10-31 23:59:59.999999999  reference       4913     5451.210372
10 2018-10-31 23:59:59.999999999   analysis        207     5451.210372
11 2018-11-30 23:59:59.999999999   analysis       4955     5451.210372
12 2018-12-31 23:59:59.999999999   analysis       5119     5451.210372
13 2019-01-31 23:59:59.999999999   analysis       5120     5451.210372
14 2019-02-28 23:59:59.999999999   analysis       4624     5451.210372
15 2019-03-31 23:59:59.999999999   analysis       5120     5451.210372
16 2019-04-30 23:59:59.999999999   analysis       4955     5451.210372
17 2019-05-31 23:59:59.999999999   analysis       5119     5451.210372
18 2019-06-30 23:59:59.999999999   analysis       4955     5451.210372
19 2019-07-31 23:59:59.999999999   analysis       5120     5451.210372
20 2019-08-31 23:59:59.999999999   analysis       4706     5451.210372


   lower_threshold  alert
0      4548.789628  False
1      4548.789628  False
2      4548.789628  False
3      4548.789628  False
4      4548.789628  False
5      4548.789628  False
6      4548.789628  False
7      4548.789628  False
8      4548.789628  False
9      4548.789628  False
10     4548.789628   True
11     4548.789628  False
12     4548.789628  False
13     4548.789628  False
14     4548.789628  False
15     4548.789628  False
16     4548.789628  False
17     4548.789628  False
18     4548.789628  False
19     4548.789628  False
20     4548.789628  False

In [ ]:
print_multi_index_markdown(results.filter(period='all').to_df())

+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
|    | | chunk   |                 |                 |               |                     |                               |            | | rows_count   |                     |                     |           |
|    | | key     | | chunk_index   | | start_index   | | end_index   | | start_date        | | end_date                    | | period   | | value        | | upper_threshold   | | lower_threshold   | | alert   |
+====+===========+=================+=================+===============+=====================+===============================+============+================+=====================+=====================+===========+
| 0  | 2018-01   | 0               | 0               | 5119          | 2018-01-01 00:00:00 | 2018-01-31 23:59:59.999999999 | reference  | 5120           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 1  | 2018-02   | 1               | 5120            | 9744          | 2018-02-01 00:00:00 | 2018-02-28 23:59:59.999999999 | reference  | 4625           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 2  | 2018-03   | 2               | 9745            | 14863         | 2018-03-01 00:00:00 | 2018-03-31 23:59:59.999999999 | reference  | 5119           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 3  | 2018-04   | 3               | 14864           | 19818         | 2018-04-01 00:00:00 | 2018-04-30 23:59:59.999999999 | reference  | 4955           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 4  | 2018-05   | 4               | 19819           | 24938         | 2018-05-01 00:00:00 | 2018-05-31 23:59:59.999999999 | reference  | 5120           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 5  | 2018-06   | 5               | 24939           | 29892         | 2018-06-01 00:00:00 | 2018-06-30 23:59:59.999999999 | reference  | 4954           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 6  | 2018-07   | 6               | 29893           | 35012         | 2018-07-01 00:00:00 | 2018-07-31 23:59:59.999999999 | reference  | 5120           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 7  | 2018-08   | 7               | 35013           | 40132         | 2018-08-01 00:00:00 | 2018-08-31 23:59:59.999999999 | reference  | 5120           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 8  | 2018-09   | 8               | 40133           | 45086         | 2018-09-01 00:00:00 | 2018-09-30 23:59:59.999999999 | reference  | 4954           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 9  | 2018-10   | 9               | 45087           | 49999         | 2018-10-01 00:00:00 | 2018-10-31 23:59:59.999999999 | reference  | 4913           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 10 | 2018-10   | 0               | 0               | 206           | 2018-10-01 00:00:00 | 2018-10-31 23:59:59.999999999 | analysis   | 207            | 5451.21             | 4548.79             | True      |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 11 | 2018-11   | 1               | 207             | 5161          | 2018-11-01 00:00:00 | 2018-11-30 23:59:59.999999999 | analysis   | 4955           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 12 | 2018-12   | 2               | 5162            | 10280         | 2018-12-01 00:00:00 | 2018-12-31 23:59:59.999999999 | analysis   | 5119           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 13 | 2019-01   | 3               | 10281           | 15400         | 2019-01-01 00:00:00 | 2019-01-31 23:59:59.999999999 | analysis   | 5120           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 14 | 2019-02   | 4               | 15401           | 20024         | 2019-02-01 00:00:00 | 2019-02-28 23:59:59.999999999 | analysis   | 4624           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 15 | 2019-03   | 5               | 20025           | 25144         | 2019-03-01 00:00:00 | 2019-03-31 23:59:59.999999999 | analysis   | 5120           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 16 | 2019-04   | 6               | 25145           | 30099         | 2019-04-01 00:00:00 | 2019-04-30 23:59:59.999999999 | analysis   | 4955           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 17 | 2019-05   | 7               | 30100           | 35218         | 2019-05-01 00:00:00 | 2019-05-31 23:59:59.999999999 | analysis   | 5119           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 18 | 2019-06   | 8               | 35219           | 40173         | 2019-06-01 00:00:00 | 2019-06-30 23:59:59.999999999 | analysis   | 4955           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 19 | 2019-07   | 9               | 40174           | 45293         | 2019-07-01 00:00:00 | 2019-07-31 23:59:59.999999999 | analysis   | 5120           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+
| 20 | 2019-08   | 10              | 45294           | 49999         | 2019-08-01 00:00:00 | 2019-08-31 23:59:59.999999999 | analysis   | 4706           | 5451.21             | 4548.79             | False     |
+----+-----------+-----------------+-----------------+---------------+---------------------+-------------------------------+------------+----------------+---------------------+---------------------+-----------+

In [ ]:
results.filter(period='analysis').plot().show()

In [ ]:
results.filter(period='analysis').plot().write_image(
    f"../_static/tutorials/stats/count.svg"
)